body {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

main .titulo img {
    margin-top: 35px;
    width: 180px;
    height: 30px;
    margin-bottom: -20px;
}

main .logo-wiki {
    margin-top: 100px;
    vertical-align: middle;
    margin-bottom: 30px;
}

main .logo-wiki img {
    height: 195px;
    width: 220px;
}

main .principal-buscador {
    border: 1px solid yellow;
}

main .principal-buscador input {
    width: 100%;
    border-width: 1px 0 1px 1px;
    border-radius: 2px 0 0 2px;
    padding: .8rem 9.6rem .8rem 1.2rem;
    font-size: 1.6rem;
    line-height: 1.6;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: grid;
}